.masthead {
  background-color: gray;
  color: white;
}

.masthead p {
    margin: 5px 0 5px 0;
}

.page-header {
    margin: 20px 0 20px 0;
}

.page-header h4 {
    color: rgba(0, 0, 0, 0.50);
}

.table td span {
    color: rgba(0, 0, 0, 0.60);
    font-style: italic;
}

.nav-tabs {
    margin-top: 20px;
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.table tr:first-child td {
    border-top: 0px;
}
