<div class="masthead">
  <div class="container">
    <p>
      Институт современного профессионального образования. Независимый межотраслевой центр развития образования и сертификации квалификации (НЦМ РОСК).
    </p>
  </div>
</div>
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img alt="Библиоигры" src="{{ relative-baseurl }}imgs/logo.svg" height="100%" class="img-responsive">
      </div>
      <div class="col-md-10">
        <h1> Платформа культурно-образовательных программ </h1>
        <h4> Взрослый рядом с ребенком &ndash; педагог, только он не всегда об этом знает. И не всегда умеет. </h4>
      </div>
    </div>
  </div>
</div>
