{% include top.html %}
<body>
  {% include header.html %}
  <div class="container">
    {% include carousel.html %}
    {% include nav.html %}

    {% if page.body_class != 'overview' %}
      <div class="row">
        <div class="col-md-3">
          {% include news.html %}
        </div>
        <div class="col-md-9">
          {{ content }}
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3">
          <a href="{{ relative-baseurl }}about/docs/sert_innov.pdf">
            <img alt="Сертификат участника Конкурса Инноваций в Образовании" src="{{ relative-baseurl }}imgs/sert_innov.png" class="img-responsive" style="margin-top: 20px">
          </a>
        </div>
      </div>
    {% endif %}
  </div> <!-- /container -->

  {% include scripts.html %}
</body>
</html>
